html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;

  /* * Scroll*/
  scroll-behavior: smooth;

}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
.hero__heading {
    font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
.contenedor-sm {
  width: min(90%, 60rem);
  margin: 0 auto;
}