// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//* Colores

$rosa-oscuro: #d66f7e;
$rosa-principal: #E88C9A;
$rosa-hover: #f18394;
$rosa-fluor: rgb(255, 157, 173);
$rosa-claro: #F3D8DD;
$rosa-suave: #F7E8EA;
$crema: #F8F1EB;
$texto: #3A2A2A;
$blanco: #fff;
$verde: rgb(37, 204, 37);
$negro: #000;
$verdeSuave: #638f63;


//* Fonts

$cursiva: "Great Vibes";
$elegante: "Playfair Display", serif;
$normal: "Poppins", sans-serif;