@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color';

.dashboard {
    display: flex;
    width: min(100%, 170rem);
    .aside {
        background-color: v.$rosa-suave;
        height: 100vh;

        &__logo img {
            height: 15rem;
            
        }
        &__navegacion {
            &::before {
                content: "";
                display: block;
                height: .5rem;
                border-radius: .5rem;
                background-color: v.$rosa-principal;
                width: 90%;
                font-size: 2rem;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            a {
                color: v.$negro;
                padding: 2rem 0;
                display: block;
                border-radius: .5rem;
                width: 90%;
                text-align: center;
                &:hover {
                    background-color: v.$rosa-principal;
                    color: v.$blanco;
                }
            }

            .cerrar_sesion {
                background-color: adjust-color(v.$rosa-principal, $lightness: -15%);
                color: v.$blanco;

                &:hover {
                    background-color: adjust-color(v.$rosa-principal, $lightness: -30%);
                }
            }
        }
    }

    &__main {
        margin: 0 2rem;
        width: 100%;
        height: 100vh;
        overflow: scroll;
    }
}
.dashboard__titulo {
    text-align: center;
    display: block;
}
.dashboard__crear {
    text-decoration: none;
    @include m.boton(v.$rosa-principal, v.$blanco);
    margin: 2rem 0;
    display: inline-block;
}

