@use "../base/variables" as v;
@use "../base/mixins" as m;

@use 'sass:color';

.login {
  height: 100vh;
  background-image: url('../../../background-login.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include m.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login__contenedor {
    height: 100%;
    width: 100%;
    @include m.desktop {
        width: 40%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: v.$normal;

    h1 {

      font-size: 6rem;
      @include m.tablet {
        font-size: 8rem;
      }
      font-family: v.$cursiva;
      padding: 2rem 0;
      margin: 0;
    }

    .volver {

      @include m.boton(v.$rosa-principal, v.$negro);
      &:hover {
        color: v.$blanco;
      }
      margin: 0;
      margin-left: 2rem;
      padding: 1rem;
      width: auto;
      align-self: flex-start;
      font-weight: normal;

      svg {
        width: 2rem;
      }
    }
  }
}

.formulario {
  padding: 2rem;
  width: 100%;

  .formulario__campo {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 2rem 0;

    label,
    input {
      color: v.$negro;
    }
    label {
      font-size: 2.2rem;
    }
    input {
      font-size: 1.8rem;
      padding: 2rem;
      border-radius: 0.5rem;
      margin: 2rem 0;
      text-decoration: none;
    }
  }
}

.formulario__submit {
  width: auto;
  background-color: v.$rosa-principal;
  text-decoration: none;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: adjust-color(v.$rosa-principal, $lightness: -10%);
    color: v.$blanco;
  }
}


.mensaje {
  background-color: rgba(255, 87, 87, 0.89);
  margin-bottom: 1rem;
  padding: .1rem;
  border-radius: .5rem;
  border-left: .5rem solid rgb(207, 0, 0);
  opacity: 1;
  transition: opacity 2s ease;
  p {
    text-align: center;
    color: v.$blanco;
  }
}

.oculto {
  opacity: 0;

}

.acciones {

  align-self: center;
  @include m.tablet {
    align-self: flex-end;
  }

  a {
    color: v.$negro;
    text-decoration: none;

    &:hover {
      color:  adjust-color(v.$rosa-principal, $lightness: -10%);
    }
  }
}